*.iml
.gradle/
local.properties
.idea/
build/
captures/
.externalNativeBuild/
.cxx/

build_out.log
build_err.log

gradle_out.txt
gradle_err.txt
go*.txt
ge*.txt

build_log.txt
build_log.txt
build_err.txt
